{% extends "main.html" %}


{%block content%}

{% comment %} <p>hello you are on the {{page}} page</p>


{% if number > 10 %}

<p>Number is greater than 10</p>
{% elif number == 10 %}
<p>Number is exactly 10</p>

{% else %}
<p>Number is less than 10</p>

{% endif %}

<hr>

<h1>Projects</h1> {% endcomment %}



<table>
    <tr>
        <th>ID</th>
        <th>PROJECT</th>
        <th>RATIO</th>
        <th>POSITIVE VOTES</th>

    </tr>
    {% for project in projects   %}
    <tr>
        <td>{{project.id}}</td>
        <td>{{project.title}}</td>
        <td>{{project.vote_total}}</td>
        <td>{{project.vote_ratio}}%</td>
        <td>{{project.created}}</td>
        <td><a href="{% url 'project' project.id %}">View</a></td>
    </tr>
    {% endfor %}


</table>

{% comment %} <ul>
 {% for project in projects   %}
 
 <li>
    
    {% comment %} Title:<a href="/project/{{project.id}}">{{project.title}}</a> ----  {{project.description}} {% endcomment %}

    {% comment %} Title:<a href="{% url 'project' project.id %}">{{project.title}}</a> ----  {{project.description}}
    {% comment %} Title: {{project.title}}---{{project.id}} {% endcomment %}
</li>

 {% comment %} {% endfor %}
    
</ul>  {% endcomment %} 

{% endblock content %}